.header-container{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.logo-container img{
    max-height: 30px;
}

.card-holder{
    display: inline-flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}